.App {
  text-align: center;
}
.search{
  padding: 40px 0;
}
.m-r-5{
  margin-right: 5px
}
.loading{
  text-align: center;
  top:100px;
}
.loading h3{
  color:#a8acaf;
}
.page-title{
  padding: 20px 0;
}
.pagination{
  padding: 30px ;
}
.page-numbers li button{
  border:1px solid #dee2e6;
  padding:5px 10px;
  background: #f1f1f1;
}
.page-numbers li button.current{
  background: #0000ff3d;
}
.page-numbers li button:hover{
  background: #0000ff3d;
}
.page-numbers{
 list-style: none;
 display: flex;
 margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
